body {
    font-family: 'Slackey', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0;
}

p {
    font-size: 1.2rem;
    color: #000f89;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #3e8e4;
}

a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

header {
    background-color: black;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.background-image {
    width: 100%;
    height: auto;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.images img {
    width: 30%;
    height: auto;
    margin: 10px;
}

.game-link {
    transform: rotate(45deg);
}

.against-computer {
    transform: scaleX(-1);
}

.homepage {
    transform: rotate(90deg);
}
