body,
html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Slackey, sans-serif;
    background: #d3d3d3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.container {
    text-align: center;
    position: relative;
    margin: 20px;
}

p {
    font-size: 1.2em;
}

/* Define a container element for the images */
.image-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow the images to wrap to the next line */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
}

/* Define the style for each image */
.images {
    width: 200px; /* Set a fixed width for the images */
    height: 200px; /* Set a fixed height for the images */
    margin: 10px; /* Add some margin around the images */
}

/* Adjust the alignment for the first image */
.images:first-child {
    align-self: flex-start; /* Align the first image to the top */
    margin-right: auto; /* Push the first image to the left */
}

/* Adjust the alignment for the last image */
.images:last-child {
    align-self: flex-end; /* Align the last image to the bottom */
    margin-left: auto; /* Push the last image to the right */
}


.play-button {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 25px;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: green;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
    transition: background-color 0.3s, transform 0.3s;
}

.play-button:hover {
    background-color: #3e8e4;
}

.play-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
